/**
# タブ

## 実装例
```html
<div class="MyTab" data-app="tab" data-selected-index="0">
  <ul class="MyTab__tablist">
    <li class="MyTab__tab">tab1</li>
    <li class="MyTab__tab">tab2</li>
    <li class="MyTab__tab">tab3</li>
  </ul>
  <div class="MyTab__panel">content1</div>
  <div class="MyTab__panel">content2</div>
  <div class="MyTab__panel">content3</div>
</div>
```

```scss
.MyTab {
  @include o-Tab;
  @include o-Tab--Border(2px, #9eb4db);
  @include o-Tab--Color(#333, #1d3994);
  @include o-Tab--BgColor(#fff, #e6ecfe);
  @include o-Tab--Spacing(-2px);

  &__tab {
    @include space-inset-ssm;
    @include fontset-title-s;
  }

  &__panel {
    @include space-inset-s;
    @include fontset-text-m;
  }
}
```
*/
@import "utility";

// タブの基本構造
@mixin o-Tab {
  &__tablist {
    @include u-clearfix;
    display: block;
  }

  &__tab {
    display: inline-block;
    float: left;
    cursor: pointer;
  }

  &__panel {
    display: none;

    &[data-selected="true"] {
      display: block;
    }
  }
}

// タブにボーダーをつけるmixin
@mixin o-Tab--Border($borderWidth, $borderColor, $activeBgColor: $borderColor) {
  &__tablist {
    border-bottom: $borderWidth solid $borderColor;
  }

  &__tab {
    position: relative;
    margin-bottom: -$borderWidth;
    border: $borderWidth solid $borderColor;

    // 選択されているタブの下ボーダーを上書きする
    &[data-selected="true"]::after {
      position: absolute;
      display: block;
      left: 0px;
      bottom: -$borderWidth;
      width: 100%;
      height: $borderWidth;
      background-color: $activeBgColor;
      content: "";
    }
  }

  &__panel {
    border: $borderWidth solid $borderColor;
    border-top: 0;
  }
}

// タブを角丸にするmixin
@mixin o-Tab--Rounded($radiusX, $radiusY: $radiusX) {
  &__tab {
    border-top-left-radius: $radiusX $radiusY;
    border-top-right-radius: $radiusX $radiusY;
  }
}

// タブテキストに色をつけるmixin
@mixin o-Tab--Color($activeColor, $inactiveColor: $activeColor) {
  &__tab {
    color: $inactiveColor;

    &[data-selected="true"] {
      color: $activeColor;
    }
  }
}

// タブに背景色をつけるmixin
@mixin o-Tab--BgColor($activeBgColor, $inactiveBgColor: $activeBgColor) {
  &__tab {
    background-color: $inactiveBgColor;

    // 選択されているタブの下ボーダーを上書きする
    &[data-selected="true"]::after {
      background-color: $activeBgColor;
    }
  }

  [data-selected="true"] {
    background-color: $activeBgColor;
  }
}

// タブの間隔を調整するmixin
@mixin o-Tab--Spacing($spacing) {
  &__tab:not(:first-child) {
    margin-left: $spacing;
  }
}
