/**
 * サイトの右サイド用リストコンテナ（component/side-list.scss）
 */
@import "settings";

.c-SideList {
  &__item {
    margin-bottom: $space-ss;
    padding-bottom: $space-ss;
    border-bottom: 1px solid #f0f0f0;
  }
}
